#topHeader{
    width: 100%;
    background-color: #2B3467;
    border-bottom: 1px solid rgb(169, 216, 255);
}

#topHeader a{
    text-decoration: none;
    color: #FCFFE7;
    font-weight: 600;
    font-size: 0.89rem;
    text-align: center;
}

#bottomHeader{
    width: 100%;
    text-decoration: none;
}

#bottomHeader li{
    display: inline-block;
    font-weight: 600;
    font-size: 0.89rem;
    padding: 15px;
}

#bottomHeader a{
    font-size: 40px;
    text-decoration: none;
    color: #FC427B;
}

#Footer{
    bottom: 0;
    position: fixed;
    width: 100%;
    background-color: #2B3467;
    border-bottom: 1px solid rgb(169, 216, 255);
}

#Footer a{
    color: #FC427B;
    font-weight: 600;
    font-size: 50px;
}