<!DOCTYPE html>
<html lang="en">
<head>
  {% extends "layout.html" %}
  {% block head %}
  {{ super() }}
  <title>Single Jinja Post</title>
  <!-- Favicon no longer needed -->
  <!-- <link rel="shortcut icon" type="image/jpg" href="static\images\favicon.ico"/> -->
  {% endblock %}

</head>

  <body>
  <!-- Main Content -->
  {% block myContent %}
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
         <h1>Single post</h1>
          <p>brings single post data using Jinja code. Data is retrieved from postdata.py</p>
       </div>
      </div>
    </div>

<!-- display output by bootstrap -->
    <table class="table table-primary">
      <thead>
        <tr>
          <th scope="col">author</th>
          <th scope="col">title</th>
          <th scope="col">content</th>
          <th scope="col">date_posted</th>


        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{p.author}}</td>
          <td>{{p.title}}</td>
          <td>{{p.content}}</td>
          <td>{{p.date_posted}}</td>

      </tbody>
    </table>

  {% endblock myContent%}

</body>
