<!DOCTYPE html>
<html lang="en">
<head>
  {% extends "layout.html" %}
  {% block head %}
  {{ super() }}
  <title>All Jinja Posts</title>
  <!-- Favicon no longer needed -->
  <!-- <link rel="shortcut icon" type="image/jpg" href="static\images\favicon.ico"/> -->
  {% endblock %}

</head>

<body>
  <!-- Main Content -->
  {% block myContent %}
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        <h1 class="title">{{title}}</h1>
        <p>brings all posts data using Jinja code. Data is retrieved from postdata.py</p>
                 
      </div>
    </div>
  </div>

  <!-- display output by bootstrap -->
  {% for p in posts %}
  <div class="container mt-3">
    <ul class="list-group">
      <li class="list-group-item active">{{p['title']}}</li>
      <li class="list-group-item">{{p['content']}}</li>
      <li class="list-group-item">{{p['date_posted']}}</li>
      <li class="list-group-item">{{p['author']}}</li>

    </ul>
  </div>

  {% endfor %}

  {% endblock myContent%}

</body>