
<html lang="en">
  <head>
    {% extends "layout.html" %}
    {% block head %}
    {{ super() }}
    <title>Reqres-data Page</title>
    {% endblock %}
</head>
<body>
  {% block myContent %}
  <h1>
    Reqres-data Page
  </h1>
  
  <p>
    Generated HTML by javascript)
    JS "for loop" is used to show all data using bootstrap elements.
    data should be retrieved from 
    <a href="https://reqres.in/api/users">https://reqres.in/api/users</a>
  </p>
  <!-- <button type=
"myButton" >Change</button> -->
<!-- <table >
    <tr>
        <th>Name</th>
        <th>Describtiion</th>
        <th>Price</th>
    </tr>
    <tbody id="Mobile"></tbody> 
</table> -->

<table style="width: 100%;">
  <tr >
      <th>First</th>
      <th>Last</th>
      <th>Email</th>
  </tr>

  <tbody id="myTable">
      
  </tbody>
</table>
<script>
  var myList = []
  
  
  $.ajax({
    type:'GET',
    url:'https://reqres.in/api/users',
    success: function(resp){
      myList = resp.data
      buildTable(myList)
      console.log(myList)
    }
  })
  
  
  
  function buildTable(data){
    var table = document.getElementById('myTable')
  
    for (var i = 0; i < data.length; i++){
      var row = `<tr>
              <td>${data[i].first_name}</td>
              <td>${data[i].last_name}</td>
              <td>${data[i].email}</td>
            </tr>`
      table.innerHTML += row
  
  
    }
  }
  
  </script>
    {% endblock myContent %}
</body>

