.header {
  padding: 60px;
  text-align: center;
  background: #00254d;
  color: white;
  font-size: 30px;
}

h2{text-align: center;}
p{text-align: center;}

body {
    margin: auto;
    width: 500px; 
    padding: 300px;
    font-family: 'Lexend Deca', sans-serif; 
    color: #2E475D;    
  }