.header {
  width: 100%;
  height: 100vh;
  padding: 0 10%;
  background: #00254d;
}

nav{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 30px;
}

nav ul li a{
  text-decoration: none;
  color: black;
}